// vars
$main-color: #56534c;
$secondry-color: #a47d5e;
$t-time: 0.3s;
$s-padding: 80px;
$section-color: #f3f1e9;
body {
  font-family: "Merriweather", sans-ser;
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}

h2.main-head {
  text-align: center;
  color: $main-color;
  font-size: 34px;
  word-spacing: 5px;
  font-weight: 800;
  + span {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    color: $secondry-color;
    margin-bottom: 40px;
    text-align: center;
  }
}
// .start header
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-family: Updock, sans-serif;
      font-size: 40px;
      flex-basis: 200px;
      color: white;
      cursor: default;
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 30px;
      position: relative;

      li {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        position: relative;
        &:not(:first-child)::before {
          content: "~";
          color: white;
          font-size: 28px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 0px;
          left: 0;
          height: 3px;
          background-color: #fafafa;
          transition: all $t-time;
        }
        a {
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          font-size: 14px;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
    .icon {
      gap: 5px;
      flex-direction: column;
      width: 30px;
      display: none;
      cursor: pointer;
      span {
        width: inherit;
        height: 3px;
        border-radius: 3px;
        display: block;
        background-color: wheat;
      }
    }
  }
}
@mixin nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  li {
    &::before {
      content: "~";
      color: white;
      font-size: 28px;
    }
  }
}
@media (max-width: 991px) {
  header {
    .container {
      .nav {
        display: none;
        &:hover {
          @include nav;
        }
      }

      .icon {
        display: flex;
        position: relative;
        &:hover {
          &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border: 20px solid;
            border-color: rgba(0, 0, 0, 0) transparent transparent transparent;
            top: 15px;
          }
          + .nav {
            @include nav;
          }
        }
      }
    }
  }
}
// *end header
// *start landing
.landing {
  background-image: url(../../images/landing.png);
  height: 100vh;
  position: relative;
  top: 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background-image: url(../../images/icon.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    img {
      border-radius: 50%;
      border: 10px solid white;
      background-color: white;
    }
  }

  .content {
    padding: 20px;
    background-image: radial-gradient(
      rgba(0, 0, 0, 0.6) 5%,
      rgba(0, 0, 0, 0.3) 40%,
      transparent 70%
    );
    h1 {
      font-size: 60px;
      margin-bottom: 50px;
      text-align: center;
    }
    p {
      font-size: 18px;
      line-height: 1.6;
      font-weight: 100;
      text-align: center;
      margin-bottom: 30px;
    }
    button {
      all: unset;
      display: block;
      width: fit-content;
      padding: 10px 25px;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      margin: 0 auto;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
// *end landing
// *start aoc
.aoc {
  padding: $s-padding 0;
  background-image: url(../../images/aoc-background.jpg);
  .container {
    display: flex;
  }
  .images {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 8px;
    position: relative;
    align-content: center;
    img {
      width: 100%;
      outline: 5px solid white;
      outline-offset: -10px;
    }
    .icon {
      position: absolute;
      z-index: 1;
      width: 200px;
      height: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../../images/icon.png);
      background-size: cover;
      border-radius: 50%;
      p {
        width: 100%;
        height: 100%;
        font-size: 22px;
        text-transform: uppercase;
        color: #c9b176;
        text-align: center;
        padding-top: 41%;
        background-image: radial-gradient(
          rgba(251, 250, 249, 0.9) 57%,
          transparent 72%
        );
      }
    }
    img {
      width: 100%;
    }
  }
  .info {
    flex: 1;

    p {
      color: #777;
      font-size: 14px;
      line-height: 1.6;
      max-width: 550px;
      text-align: center;
      text-justify: justify;
      margin: 0 auto 30px;
      + h2 {
        font-size: 26px;
        font-weight: bold;
      }
    }
    .chif {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 30px 0;
      img {
        width: 90px;
        height: 90px;
      }
      span {
        font-weight: 100;
        display: block;
        width: fit-content;
        padding: 20px 10px;
        position: relative;
        text-transform: capitalize;
        &::before,
        &::after {
          display: block;
          content: "";
          width: 120%;
          height: 0.5px;
          background-color: $secondry-color;
          position: absolute;
          left: -10%;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
      }
    }
    q {
      font-family: Updock, sans-serif;
      font-size: 40px;
      text-align: center;
      position: relative;
      display: block;
      padding: 30px;
      margin: 60px 0 0;

      color: $secondry-color;
      &::before,
      &::after {
        color: #b6b5b2;
        font-size: 120px;
        position: absolute;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::before {
        top: 0;
        left: 0;
      }
      &::after {
        right: 0;
        bottom: -25px;
      }
    }
  }
}
@media (max-width: 991px) {
  .aoc .images {
    grid-template-columns: 150px 150px;
    margin-left: 10px;
  }
}
@media (max-width: 767px) {
  .aoc .images {
    display: none;
  }
}
@media (max-width: 360px) {
  .aoc .info .chif {
    flex-direction: column;
    gap: 10px;
  }
}
// end aoc
// start tasty cake
.tasty {
  background-image: url(../../images/pancakebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: $s-padding + 50px;
  padding-bottom: $s-padding + 50px;
  .container {
    display: grid;
    place-content: center;
  }
  .box {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
    background-image: url(../../images/tastycacke-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    .card {
      position: absolute;
      top: -40px;
      right: -40px;
      background: url(../../images/card-background.jpg);
      background-size: cover;
      width: 120px;
      height: fit-content;
      text-align: center;
      padding: 15px;
      font-size: 18px;
      color: $secondry-color;
      box-shadow: -10px 14px 20px 2px #a47d5e5c;
      span {
        font-size: 14px;
      }
      .time {
        display: block;
        font-size: 40px;
        font-weight: bold;
        margin-top: 10px;
        color: #dfc691;
      }
    }
    .image {
      width: 350px;
      height: 334pxpx;

      img {
        width: 100%;
        position: relative;
      }
    }
    .details {
      max-width: 100%;
      margin-right: 60px;
      position: relative;

      &::before {
        content: "\f07e";
        font-family: FontAwesome;
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        left: -60px;
        top: 50%;
        transform: translatey(-50%);

        cursor: grab;
        color: $secondry-color;
      }
      h2 + span,
      h2 {
        text-align: left;
      }
      p {
        color: $main-color;
        margin-bottom: 50px;
        max-width: 400px;
        font: {
          size: 14px;
        }
        line-height: 2;
      }
    }
    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      img {
        width: 60px;
        cursor: pointer;
      }
      i {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid $secondry-color;
        color: $secondry-color;
        cursor: pointer;

        font-size: 22px;
        &:hover {
          animation: shake 1s infinite;
        }
      }
    }
  }
}
@media (max-width: 930px) {
  .tasty .container .box {
    .image {
      display: none;
    }
    padding: 30px;
    .card {
      right: 0px;
    }
    .details {
      &::before {
        display: none;
      }
    }
  }
}
@media (max-width: 767px) {
  .tasty .container {
    display: block;

    .box {
      padding-top: 50px;
      justify-content: flex-start;
      width: 100%;
      .card {
        top: -80px;
      }
      .details {
        margin-right: 0;
      }
      .more {
        gap: 10px;
        img {
          width: 50px;
        }
        i {
          width: 20px;
          height: 20px;
          font-size: 18px;
        }
      }
    }
  }
}
// start breakfast {
.breakfast {
  background-image: url(../../images/breackfast.jpg);
  padding: $s-padding 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .left {
      color: white;
      text-align: center;
      flex: 500px;
      .box {
        margin: 0 0 40px;

        h1 {
          letter-spacing: 5px;
          font: {
            size: 40px;
            weight: 700;
          }
          + span {
            color: #c0a590;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
        h3 {
          font-size: 26px;
          font-weight: bold;
          + span {
            font-weight: normal;
            color: #c2beba;
            display: block;
            font-size: 14px;
            text-align: center;
            margin: 10px 0;
          }
        }
        .price {
          display: block;
          font-size: 24px;
          margin: 20px 0;
          text-align: center;
          color: #dfc691;
        }
      }
    }
    .right {
      justify-self: flex-end;
      .holder {
        position: relative;
      }
      .card {
        padding: 25px;
        max-width: 400px;
        background-color: $section-color;
        background-image: url(../../images/breakfast-card-background.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        outline: 1px dashed #56534c;
        transition: all $t-time;
        outline-offset: -10px;
        position: relative;
        z-index: 1;

        .head {
          display: flex;
          padding: 20px 0 30px;
          position: relative;
          font-size: 14px;
          justify-content: space-around;
          border-bottom: 1px solid #c2beba;
          i {
            position: absolute;
            bottom: -24px;
            z-index: 1;
            background-color: $section-color;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: #c2beba;
            font-size: 26px;
            border: 0.5px solid #c2beba;
          }
        }
        h2 {
          color: #56534c;
          margin: 80px 0 30px;
          font-size: 32px;
          line-height: 1.6;
          text-align: center;
        }
        p {
          line-height: 2;
          font-size: 14px;
          text-align: center;
          padding: 0 20px;
          color: #56534c;
        }
        button {
          all: unset;
          display: block;
          width: fit-content;
          padding: 10px 50px;
          margin: 25px auto;
          color: #a47d5e;
          border: 1px solid #56534c;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 2px;
          cursor: pointer;
        }
        &:hover {
          transform: translatex(-20px);
          + span {
            transform: translateX(10px);
            &::before {
              transform: translateX(-13px);
            }
          }
        }
        + span {
          display: block;
          background-color: #bebbaf;
          background-image: url(../../images/breakfast-card-background.png);
          background-repeat: no-repeat;
          background-position: bottom right;
          outline: 1px dashed #56534c;
          outline-offset: -10px;
          width: 100%;
          height: 77%;
          top: 11%;
          position: absolute;
          left: 0;
          transition: 0.3s;

          &::before {
            content: "";
            display: block;
            background-color: #d9d5c7;
            background-image: url(../../images/breakfast-card-background.png);
            background-repeat: no-repeat;
            background-position: bottom right;
            outline: 1px dashed #56534c;
            outline-offset: -10px;
            width: 70%;
            height: 115%;
            top: -30px;
            right: 1px;
            position: absolute;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .breakfast .container {
    flex-direction: column;
  }
}
// end breakfast
// start events
.events {
  background-color: $section-color;
  padding-top: $s-padding;
  padding-bottom: $s-padding;
  background-image: url(../../images/tastycacke-1.png);
  background-repeat: no-repeat;
  background-position: 40% 10%;
  h2.main-head {
    line-height: 1.5;
    + span {
      font-size: 13px;
    }
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .event {
      position: relative;
      box-shadow: -6px 6px 10px 0px #b28a6a5c;
      width: min(600px, 100%);

      img {
        width: min(600px, 100%);
      }
      .cards {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-5%);
        .card {
          background-color: rgba(255, 255, 255, 0.7);
          width: 150px;
          text-align: center;
          padding: 25px;
          font-size: 18px;
          color: $secondry-color;
          margin-bottom: 1px;
          transition: $t-time;
          &:hover {
            background-color: rgba(255, 255, 255, 0.9);
          }
          span {
            display: block;
            margin: 0 0 10px;
            &:first-child {
              font-size: 14px;
              font-weight: bold;
              text-transform: uppercase;
            }
            &:nth-child(2) {
              color: $main-color;
              font-size: 33px;
              font-weight: 800;
            }
            &:last-child {
              font-size: 13px;
              color: $main-color;
            }
          }
        }
        .last-card {
          background: url(../../images/card-background.jpg);
          background-size: cover;
          width: 150px;
          height: fit-content;
          text-align: center;
          padding: 25px;
          font-size: 18px;
          color: $secondry-color;
          margin-top: -2px;
          box-shadow: -5px 5px 20px 0 #ac84635c;

          span {
            font-size: 14px;
          }
          .time {
            display: block;
            font-size: 40px;
            font-weight: bold;
            margin-top: 10px;
            color: #dfc691;
          }
        }
      }
      span.card {
        position: absolute;
        bottom: -20px;
        left: -20px;
        background-color: white;
        text-transform: uppercase;
        padding: 15px 20px;
        border: 1px dashed;
        border-color: #dfc691;
        color: #dfc691;
      }
    }
    .ingredients {
      .box {
        max-width: 300px;
        text-align: center;
        padding: 20px 0;
        .image {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          text-align: center;
          margin: 0 auto 10px;
          img {
            width: 100px;
            transform: translate(-8px, -3px);
          }
        }
        h3 {
          color: $secondry-color;
          text-transform: capitalize;
          margin-bottom: 10px;
        }
        p {
          font-size: 12px;
          line-height: 1.6;
          word-spacing: 3px;
          color: $main-color;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .events .container {
    flex-direction: column;
    .ingredients {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      .box {
        width: 200px;
      }
    }
  }
}
@media (max-width: 600px) {
  .events {
    padding-bottom: 200px;

    .container {
      .ingredients {
        justify-content: center;
        .box {
          width: 100%;
        }
      }
      .event {
        margin-top: 100px;
        .cards {
          transform: translatey(-20%);
        }
      }
    }
  }
}

// end events
// start more
.more-section {
  padding-bottom: $s-padding;
  background-color: $section-color;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-family: Updock;
      font-size: 60px;
      color: $main-color;
    }
    ul {
      display: flex;
      gap: 20px;
      padding: 20px;
      border: 0.5px solid;
      border-color: $main-color transparent;
      li {
        &:not(:first-child)::before {
          content: "~";
          margin-right: 20px;
        }
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $main-color;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 991px) {
  .more-section .container {
    flex-direction: column;
    gap: 20px;
    ul {
      gap: 7px;

      li {
        &::before {
          margin-right: 7px;
        }
        a {
          font-size: 12px;
        }
      }
    }
  }
}
// end more
.footer {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: white;
  .box,
  p {
    display: inline-block;
  }
  .box {
    padding: 5px 10px;
    i {
      margin: 5px;
      font-size: 16px;
    }
    a {
      color: white;
    }
  }
  p {
    span {
      font-weight: bold;
    }
  }
}
// start animation
@keyframes shake {
  0%,
  40%,
  80%,
  100% {
    transform: translate(0);
  }
  20%,
  60% {
    transform: translate(10px);
  }
}
